body{
    background-color: honeydew;
}

#main-header{
    color: blue;
}

#gameDiv,
#imgDiv{
    border: 10px solid darkgray;
    min-width: 50%;
    min-height: 100%;
}

#mainContain{
    width: 100%;
    margin: auto;
}

#lettersGuessed{
    border: 5px solid lightgrey;
}

#btnDiv{
    border: 5px solid darkgray;
}

#answerDisplay{
    border: 2px solid black;
    margin: auto;
}

#blankDisplay,
#wordDisplay{
    
    text-align: center;
}